h2 Меню
nav.main-nav
	ul.main-nav__list
		li.main-nav__item
			a(href="/index.html") Главная
		li.main-nav__item
			a(href="/about/html") Обо мне
		li.main-nav__item
			a(href="/my-works.html") Мои работы
		li.main-nav__item
			a(href="/blog.html") Блог
