.container
	ul.slider
		li.slider__item.slider__item--active
		li.slider__item
		li.slider__item
	.buttons
		button.slider__button.slider__button--prev &lt;
		button.slider__button.slider__button--next &gt;
